$space-x-0: 0;
$space-x-xs: 0.8vmin; //4px;
$space-x-sm: 1.6vmin; //8px;
$space-x-md: 3.2vmin; //16px;
$space-x-lg: 4.8vmin; //24px;
$space-x-xl: 8vmin; //40px;
$space-x-xxl: 16vmin; //80px;

$space-y-0: 0;
$space-y-xs: 0.8vmin; //4px;
$space-y-sm: 1.6vmin; //8px;
$space-y-md: 3.2vmin; //16px;
$space-y-lg: 4.8vmin; //24px;
$space-y-xl: 8vmin; //40px;
$space-y-xxl: 9.6vmin; //48px;
$space-y-3xl: 16vmin; //80px;
$space-y-4xl: 24vmin; //80px;
