/* =================================================== 
      FUNCTIONS
=================================================== */
// @use "sass:math";

// @function power($number, $exponent) {
//   @return math.pow($number, $exponent);
// }

@function power($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

// $type-scale-ratio: 1.067; // minor second
// $type-scale-ratio: 1.125; // major second
$type-scale-ratio: 1.2; // minor third
// $type-scale-ratio: 1.25; // major third
// $type-scale-ratio: 1.333; // perfext fourth
// $type-scale-ratio: 1.414; // augmented fourth
// $type-scale-ratio: 1.5; // perfect fifth
// $type-scale-ratio: 1.618; // golden ratio

@function typeScale($index) {
  $size: power($type-scale-ratio, $index);
  @return #{$size}rem;
}

/* =================================================== 
      FONT FAMILIES SETUP
=================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-fam-body: "Montserrat";
$font-fam-display: "Poppins";

$font-fam-body: "Avenir";
$font-fam-display: "DIN Condensed";

/* =================================================== 
      REFERENCES
=================================================== */
@mixin _text-heading-main {
  font-size: 2.82rem;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: $font-fam-display;
}
@mixin _text-heading-support {
  font-size: 1rem;
  line-height: 1.1765;
  font-weight: 600;
  font-family: $font-fam-body;
}
@mixin _text-heading-section {
  font-size: 2.12rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: $font-fam-display;
}
@mixin _text-label {
  font-size: 1rem;
  line-height: 1.29;
  font-weight: 500;
  font-family: $font-fam-body;
}
@mixin _text-button {
  font-size: 1rem;
  line-height: 1.29;
  font-weight: 400;
  font-family: $font-fam-body;
}
@mixin _text-button-light {
  font-size: 1rem;
  line-height: 1.29;
  font-weight: 300;
  font-family: $font-fam-body;
}

/* =================================================== 
      REAL CONTEXTUAL STYLES
=================================================== */
@mixin text-body {
  font-size: typeScale(0);
  line-height: 1.29;
  font-weight: 300;
  font-family: $font-fam-body;
}
@mixin text-button {
  font-size: typeScale(0);
  line-height: 1.29;
  font-weight: 400;
  font-family: $font-fam-body;
}
@mixin text-button-light {
  font-size: typeScale(0);
  line-height: 1.29;
  font-weight: 300;
  font-family: $font-fam-body;
}

@mixin text-header-navigation-item {
  font-size: typeScale(4);
  line-height: 1.2;
  font-weight: 400;
  font-family: $font-fam-body;
}
@mixin text-product-grid-item-name {
  font-size: typeScale(0);
  line-height: 1;
  font-weight: 400;
  font-family: $font-fam-body;
}
@mixin text-product-grid-item-price {
  font-size: typeScale(-1);
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: $font-fam-body;
}
@mixin text-product-page-product-name {
  font-size: typeScale(4);
  line-height: 1.125;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-family: $font-fam-body;
}
@mixin text-product-page-product-brand {
  font-size: typeScale(0);
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: $font-fam-body;
}
@mixin text-product-page-product-price {
  font-size: typeScale(2);
  line-height: 1.125;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: $font-fam-body;
}

// body text
body {
  @include text-body;
}
