$c-black: hsl(0, 0%, 0%);
$c-white: hsl(0, 0%, 100%);
$c-grey: hsl(215, 3%, 88%); // #e0e1e2;
$c-grey-light: hsl(215, 3%, 92%); // #e0e1e2;
$c-grey-dark: hsl(0, 0%, 46%); // #e0e1e2;

$c-brand-1: hsl(224, 77%, 56%); // #3967e5
$c-brand-2: hsl(5, 74%, 49%); // #d93020
