// LAYOUT SHARED STYLES
.container {
  padding-left: $space-x-md;
  padding-right: $space-x-md;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.container-fw {
  //padding-left: $space-x-md;
  //padding-right: $space-x-md;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
