/* =================================================== 
      BUTTON
=================================================== */
.btn {
  @include text-button;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.55em 1.2em;
  border: 2px solid;
  border-radius: $border-radius;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-color: var(--color-border);

  &:hover,
  &:focus {
    background-color: var(--color-bg-active);
    color: var(--color-text-active);
    border-color: var(--color-border-active);
  }

  --color-text: #{$c-black};
  --color-bg: transparent;
  --color-border: #{$c-black};
  --color-text-active: #{$c-black};
  --color-bg-active: #{$c-grey-light};
  --color-border-active: #{$c-black};
}

/* =================================================== 
      BUTTON - SHAPE VARIANTS
=================================================== */
.btn--s-outline {
  //is default
}
.btn--s-contained {
  --color-text: #{$c-black};
  --color-bg: #{$c-grey-light};
  --color-border: #{$c-grey-light};
  --color-text-active: #{$c-white};
  --color-bg-active: #{$c-grey-dark};
  --color-border-active: #{$c-grey-dark};
  &.btn--c-primary {
    --color-text: #{$c-white};
    --color-bg: #{$c-black};
    --color-border: #{$c-black};
    --color-text-active: #{$c-white};
    --color-bg-active: #{$c-grey-dark};
    --color-border-active: #{$c-grey-dark};
  }
}
.btn--s-text {
  --color-text: #{$c-black};
  --color-bg: transparent;
  --color-border: transparent;
  --color-text-active: #{$c-black};
  --color-bg-active: #{$c-grey-light};
  --color-border-active: transparent;
}
/* =================================================== 
      BUTTON - TEXT PROMINENCY VARIANTS
=================================================== */
.btn--t-light {
  @include text-button-light;
}

/* =================================================== 
      BUTTON ICON
=================================================== */
.btn-icon {
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
