.nav-slider {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  // &::-webkit-scrollbar-thumb {
  //   background-color: red;
  //   border-radius: 50px;
  //   visibility: hidden;
  // }
  // &:hover::-webkit-scrollbar-thumb {
  //   visibility: visible;
  // }
}
