:root {
  --header-bar-height: 7vmax;
  --live-all-header-stuffs-height: "";
}

.page-content {
  padding-top: var(--live-all-header-stuffs-height, var(--header-bar-height));
}

.header-icon {
  padding: 6px;
  font-size: 1.4rem;
}

.page-header {
  z-index: $z-index-header-bar;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}

.page-header__bar-occupied-space {
  height: $space-y-sm;
  background-color: $c-white;
}

.page-header__nav-bg {
  @include hasParentDimensions;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: $c-grey-light;
}

.page-header__bar-bg {
  @include hasParentDimensions;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: $c-white;
}

.page-header__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-bar-height);
  display: flex;

  > [class*="container"] {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
      flex: 1;
    }
  }
  .logo {
    max-width: 100px;
  }
}

/* =================================================== 
      HEADER NAVIGATION
=================================================== */
.header-navigation {
  overflow: scroll;
  position: fixed;
  top: var(--header-bar-height);
  left: 0;
  right: 0;
  bottom: 0;

  ul {
    margin-top: $space-y-md;
    list-style-type: none;
  }
  ul + ul {
    margin-top: $space-y-xl;
  }

  &__item + &__item {
    margin-top: $space-y-sm;
  }
  &__item {
    @include text-heading-section;
  }
}

/* =================================================== 
      HEADER BAR SECNODARY NAVIGATION
=================================================== */
.header-secondary-navigation {
  ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
  }
  &.left {
    .header-secondary-navigation__item:first-child {
      margin-left: -6px;
    }
  }
  &.right {
    ul {
      justify-content: flex-end;
    }
  }
}

/* =================================================== 
      TAXONOMY NAVIGATION BAR
=================================================== */
.taxonomy-navigation {
  position: absolute;
  top: var(--header-bar-height);
  left: 0;
  width: 100%;
  background-color: $c-white;

  ul {
    margin-top: $space-y-sm;
    margin-bottom: $space-y-sm;
    list-style-type: none;
  }
  &__item + &__item {
    margin-left: $space-x-sm;
  }
  &__item {
    border-radius: $border-radius;
    border: 1px solid;
    padding: 0.2em 1em;
  }
}

/* =================================================== 
      DEVICE BASED OVERRIDES
=================================================== */
@media (max-width: 767px) {
  .header-secondary-navigation.right [data-js="search-box-trigger"] {
    display: none;
  }
  .header-secondary-navigation.right .my-account-trigger {
    display: none;
  }
}
@media (min-width: 768px) {
  :root {
    --header-bar-height: 7vmin;
  }

  .header-secondary-navigation.left [data-js="search-box-trigger"] {
    display: none;
  }
  .header-navigation .my-account-trigger {
    display: none;
  }
}
