.breadcrumb {
  ul,
  ol {
    list-style-type: none;
  }
  &__list {
    margin-top: $space-y-sm;
    margin-bottom: $space-y-sm;
    display: flex;
  }
  &__item {
    @include text-breadcrumb-item;
  }
  &__item + &__item {
    :before {
      content: "❭";
      margin-right: $space-x-xs;
      font-size: 0.6em;
      vertical-align: middle;
      display: inline-block;
      text-decoration: none;
    }

    margin-left: $space-x-xs;
  }
}
