.filter-bar {
  .container {
    display: flex;
    @media (max-width: 767px) {
      overflow-x: auto;
    }
  }
  ul {
    list-style: none;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: $space-y-md;
    padding-bottom: $space-y-md;
    padding-left: $space-x-sm;
    padding-right: $space-x-sm;
    min-width: 70px;
  }
  &__item + &__item {
    margin-left: $space-x-sm;
  }
  &__item:last-child {
    margin-left: auto;
    .filter-bar__item-title {
      text-align: right;
    }
    .filter-bar__panel {
      right: 0;
    }
  }

  &__item-title {
    text-decoration: underline;
  }

  // PANEL STYLE
  &__panel {
    background-color: $c-surface;

    &-header,
    &-content {
      padding-top: $space-y-sm;
      padding-bottom: $space-y-sm;
      padding-left: $space-x-sm;
      padding-right: $space-x-sm;
    }

    &-header {
      display: flex;
    }
    &-closer {
      margin-left: auto;
    }
  }
  // PANEL STYLE
  @media (max-width: 767px) {
    &__panel {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  // PANEL STYLE
  @media (min-width: 768px) {
    &__panel {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 15vw;
    }
  }
}
