.page-header {
  z-index: $z-index-header-bar;
}

body {
  background-color: $c-bg;
  @include text-body;
}

.breadcrumb,
.page-title {
  // background-color: $c-surface;
  //opacity: 0.5;
}

.breadcrumb {
  padding: 1px; // prevent margin-collapsing
}
