.PRODUCT-LIST-PAGE {
  .breadcrumb {
    &__list {
      justify-content: center;
    }
  }

  .filter-bar__panel {
    z-index: $z-index-header-bar;
    @media (min-width: 768px) {
      z-index: $z-index-panels;
    }
  }
}
