.product {
  &__wrapper {
    padding-top: $space-y-sm;
  }

  &__images {
    .carousel {
      --padding-top: 0vw;
      --padding-left: 0vw;
      --padding-right: 0vw;
      --padding-bottom: 0vw;
      --box-width: 100%;
      --box-spacer: 2vw;
      --box-aspect-ratio: 12 / 9;
      --bg-color: transparent;
      --scrollbar-color: transparent;
      --scrollbar-thumb-size: 0.5vw;
      --border-radius-width: 2px;
    }
  }

  .btn {
    display: block;
    width: 100%;
  }

  &__name {
    text-align: center;
    margin-top: $space-y-3xl;
    @include text-product-page-product-name;
  }
  &__brand {
    text-align: center;
    margin-top: $space-y-lg;
    @include text-product-page-product-brand;
    opacity: 0.5;
  }
  &__price {
    text-align: center;
    margin-top: $space-y-lg;
    @include text-product-page-product-price;
  }
  &__description {
    margin-top: $space-y-xl;
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;

    > * + * {
      margin-top: $space-y-sm;
    }
    ul {
      padding-inline-start: 2em;
    }
  }
  &__add-to-cart {
    margin-top: $space-y-xxl;
  }
  &__add-to-wishlist {
    margin-top: $space-y-sm;
  }
  &__share {
    margin-top: $space-y-sm;
    text-align: center;
  }
}

@media (max-width: 767px) and (min-aspect-ratio: 1 / 1) and (max-aspect-ratio: 2/1) {
  .product .carousel {
    --box-width: 20%;
  }
}

.is-large-view.product {
  display: flex;
  align-items: flex-start;

  .product__images,
  .product__details {
    width: 50%;
  }
  .product__images {
    margin-right: $space-x-md;
  }

  .carousel {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-right: 0;
    --padding-left: 0;

    &__container {
      display: block;
    }
    .carousel__box + .carousel__box {
      margin-top: var(--box-spacer);
      margin-left: 0;
    }
  }

  .product__details {
    position: sticky;
    top: var(--live-all-header-stuffs-height, var(--header-bar-height));
    top: 10px;
    // border-top: 1px solid $c-grey;

    > *:first-child {
      margin-top: var(--live-all-header-stuffs-height, var(--header-bar-height));
    }
  }
}

/* =================================================== 
      Cross Sell Products
=================================================== */
.cross-sell-products {
  margin-top: $space-y-4xl;
}
